<!--le estoy pasando los componentes llamados nombre y size con sus respectivos valores deseados-->
<app-slider [nombre]="'Bolg'" [size]="'small'">
</app-slider>


<div class="center">
    <section id="content">


        <h1 class="subheader">Blog</h1>

        <!--siendo la vista o componente padre le estoy pasando "articles" q tiene todos los articulos a [articles] llevandolo al componente hijo-->
        <app-articles [articles]='articles'></app-articles>


    </section>


    <app-siderbar></app-siderbar>


</div>