  <!--[ngClass] directiva de atributo para agregar mas de una clase slider-big nombre de clase y !size || size == 'big' condicion-->
 <!--si lo q me llega es small se pone esta clase slider-small o sea se agrega esa clase al id para q asi lo lea el css-->
 <div id="slider" [ngClass]="{
     'slider-big': !size || size == 'big',
     'slider-small': size == 'small'
 }">
           
           
           
           
           
            <h1>{{nombre}}</h1>
            <!--*ngIf="!size  || size == 'big'" se muestra el enlace si se cumple esta condicion-->
            <a [routerLink]="['/blog']" class="btn-white" *ngIf="!size  || size == 'big'">Ir al blog</a>
        </div>
