<app-slider [nombre]="'Bienvenido a una Muestra de Angular con Adrian Lisciotti de adrianweb.live'">

</app-slider>


<div class="center">
    <section id="content">
        <h2 class="subheader">{{title}}</h2>
        <!--siendo la vista o componente padre le estoy pasando "articles" q tiene los ultimos articulos agregados con limit de 5 a [articles] llevandolo al componente hijo-->
        <app-articles [articles]="articles"></app-articles>
    </section>


    <app-siderbar></app-siderbar>


</div>