<app-slider
[nombre]="'Peliculas'"
[size]="'small'">
</app-slider>


<div class="center">
    <section id="content">

<div id="favorita" *ngIf="favorita">
    <h2 class="subheader">Pelicula favorita</h2>
    <!--piper se lo hace con eta barra | y ponerle uppercase para mayusculas ay muchas piper en la documentacion de angular-->
    <h4>{{favorita.title | uppercase }}</h4>
    <h4>{{favorita.year}}</h4>
    <h5>{{this.fecha | date: 'dd/MM/yyyy'}}</h5>
</div>


<h2 class="subheader">Peliculas</h2>



<!--
<h2>{{titulo}}</h2>

<h3>mostrar peliculas</h3>
{{peliculas[0].title}}

<hr>

<h2>numero sde peliculas</h2>

<div *ngIf="peliculas.length <= 3" >
hay pocas peliculas
</div>


<div *ngIf="peliculas.length > 3" >
hay muchas peliculas
</div>
<hr>
 
 <h2 class="subheader">listado de peliculas</h2>
-->

                <div id="articles" *ngIf="peliculas">

                <div *ngFor="let pelicula of peliculas; let i = index;">
<!--(MarcarFavorita) es un Output por lo cual envia datos q los recoge con un metodo
 le estoy diciendo q se va a lanzar un evento q sale al hacer click en la vista de pelicula 
mostrarFavorita($event) un metodo creado en la clase padre peliculas.component.ts-->
                    <app-pelicula 
                    [pelicula]="pelicula"
                    (MarcarFavorita)="mostrarFavorita($event)"
                    ></app-pelicula>
                    
                    
               </div>
                    <!--AÑADIR ARTICULOS VIA JS-->

                </div>



                 </section>


    <app-siderbar></app-siderbar>


</div>
